@model Topo.Models.Events.EventsListViewModel

@{
    ViewData["Title"] = "Program Events Page";
}

<form class="row g-3" asp-action="Index">

    <div class="mt-3 mb-3 row">
        <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(m => m.SelectedCalendar)</label>
        <div class="col-sm-2">
            @Html.DropDownListFor(m => m.SelectedCalendar, Model.Calendars, "Select unit calendar", new { @class ="form-select"})
            <span asp-validation-for="SelectedCalendar" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-3 mb-3 row">
        <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(m => m.CalendarSearchFromDate)</label>
        <div class="col-sm-2">
            @Html.EditorFor(m => m.CalendarSearchFromDate, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="CalendarSearchFromDate" class="text-danger"></span>
        </div>
        <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(m => m.CalendarSearchToDate)</label>
        <div class="col-sm-2">
            @Html.EditorFor(m => m.CalendarSearchToDate, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="CalendarSearchToDate" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" title="Shows events for the selected date range">Show Unit Calendar</button>
        </div>
    </div>

    @if (Model.Events != null && !Model.Events.Any())
    {
        <div class="row">
            <div class="col-md-3">
                No events found
            </div>
        </div>
    }

    @if (Model.Events != null && Model.Events.Any())
    {
        <div class="row">
            <div class="col-md-1">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().EventDate)</strong>
            </div>
            <div class="col-md-4">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().EventName)</strong>
            </div>
            <div class="col-md-2">
                <strong>@Html.DisplayNameFor(model => model.Events.FirstOrDefault().ChallengeArea)</strong>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        @foreach (var item in Model?.Events)
        {
            <div class="row">
                <div class="col-md-1">
                    @Html.DisplayFor(model => item.EventDate)
                </div>
                <div class="col-md-4">
                    @Html.HiddenFor(model => item.Id)
                    @Html.DisplayFor(model => item.EventName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.ChallengeArea)
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Generate Sign In Sheet", "SignInSheet", "Events", new { eventId = item.Id }) |
                    @Html.ActionLink("Download Attendance", "AttendanceList", "Events", new { eventId = item.Id })
                </div>
            </div>
        }
        <div class="mt-3 mb-3 row">
            <div class="col-sm-3">
                <button type="submit" name="button" value="AttendanceReport" class="btn btn-primary">Generate Attendance report</button> &nbsp;
            </div>
            <div class="col-sm-3">
                <button type="submit" name="button" value="AttendanceCSV" class="btn btn-success">Generate Attendance csv</button>
            </div>
        </div>

    }


</form>

