@model Topo.Models.SIA.SIAIndexViewModel

@{
    ViewData["Title"] = "SIA Report Page";
}

<form class="row g-3" asp-action="Index">

    <div class="mt-3 mb-3 row">
        <label class="col-sm-3 col-form-label">Please select a Unit to view:</label>
        <div class="col-sm-2 ">
            @Html.DropDownListFor(m => m.SelectedUnitId, Model.Units, "Select Unit", new { @class ="form-select", onchange = "this.form.submit();" })
            <span asp-validation-for="SelectedUnitId" class="text-danger"></span>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.SelectedUnitId) && Model.Members != null)
    {
        <div class="mb-3 row">
            <div class="text-center">
                <h2>@ViewBag.Unit Members</h2>
            </div>
        </div>
        <div>
            <input type="checkbox" id="checkall" /><span> Select All</span>
        </div>
        <div class="row">
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().selected)</strong>
            </div>
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().first_name)</strong>
            </div>
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().last_name)</strong>
            </div>
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().member_number)</strong>
            </div>
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().patrol_name)</strong>
            </div>
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().patrol_duty)</strong>
            </div>
            <div class="col">
                <strong>@Html.DisplayNameFor(model => model.Members.FirstOrDefault().unit_council)</strong>
            </div>
        </div>
        <div id="checkboxes">
            @Html.EditorFor(model => model.Members)
        </div>
        <div class="mt-3 mb-3 row">
            <div class="col-sm-3">
                <button type="submit" name="button" value="SIAReportPdf" class="btn btn-primary">SIA Report (pdf)</button>
            </div>
            <div class="col-sm-3">
                <button type="submit" name="button" value="SIAReportXlsx" class="btn btn-success">SIA Report (xlsx)</button>
            </div>
        </div>

    }

</form>

@section Scripts {

<script type="text/javascript">

    function toggleChecked(status) {
        $(".logbookSelect").each(function () {
            // Set the checked status of each to match the
            // checked status of the check all checkbox:
            $(this).prop("checked", status);
        });
    }

    $(document).ready(function () {

        //Set the default value of the global checkbox to true:
        $("#checkall").prop('checked', false);

        // Attach the call to toggleChecked to the
        // click event of the global checkbox:
        $("#checkall").click(function () {
            var status = $("#checkall").prop('checked');
            toggleChecked(status);
        });
    });
</script>
    }