@model Topo.Models.Home.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<form class="row g-3" asp-action="Index">
    @if (!Model.IsAuthenticated)
    {
        <div class="mt-3 mb-3 row">
            <h2>Topo, helping you navigate the Terrain</h2>
            <p>Please login</p>
            <p>@Html.ActionLink("Login", "Login", "Login", null, new { @class = "btn btn-primary" })</p>
        </div>
    }
    else
    {
        <div class="mt-3 mb-3 row">
            <h2>Welcome @Model.FullName</h2>
        </div>
        <div class="mb-3 row">
            <p>
                Use @Html.ActionLink("Member Lists", "Index", "MemberList") to see the members of your units, print patrol lists and patrol corner sheets.
            </p>
            <p>
                Use @Html.ActionLink("Program Events", "Index", "Events") to see the calendar of your units, print sign in sheets and print attendance lists.
            </p>
            <p>
                Use @Html.ActionLink("OAS Reports", "Index", "OAS") to print OAS Stage reports.
            </p>
            <p>
                Use @Html.ActionLink("SIA Report", "Index", "SIA") to print SIA Status report.
            </p>
            <p>
                Use @Html.ActionLink("Milestone Report", "Index", "Milestone") to print Milestone Summary report.
            </p>
            <p>
                Use @Html.ActionLink("Logbook Report", "Index", "Logbook") to print Logbook Summary report.
            </p>
            <p>
                Use @Html.ActionLink("Wallchart Report", "Index", "Wallchart") to print Wallchart report.
            </p>
            <p>
                Use @Html.ActionLink("Additional Awards Report", "Index", "AdditionalAward") to print Additional Awards report.
            </p>
        </div>
    }
</form>
